.theBlog{
    width:70%;
    line-height: 1.7em;
    margin:auto;
    text-align: center;
    .blogTitle{
        h1{
            font-size: 4rem;
            line-height: 4rem;
        }
    }
}

.blogList{
    width:80%;
    margin:auto;
    h1{
        font-size:2.7rem;
    }
}

hr{
    opacity:0.2;
    width:90%;
    color: nth($colors, 2);
    height:10%;
    margin:3rem auto;
}


//For blog link
.blogs{
    display:flex;
    flex-direction: column;
    overflow:auto;
    
    a{
        color:nth($colors, 5);
        transition: color 0.3s;
        text-decoration: none;

        &:hover{
            h2{
                color:nth($colors, 4);
                text-decoration: underline;
            }
        }
    }

    .blogLink{

        flex:1;
        margin-bottom:3rem;
        background:white;
        border-radius: 10px;
        box-shadow: 2px 3px 12px  rgba(0,0,0,00.1);
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "img img title title title title title title title title title likes";
    

        grid-template-areas: 
        "img img img img"
        "title title title"
        ". likes . ."; 
        

        img{
            display: inline-block;
            margin:2rem;
            max-width: 150px;
            grid-area: img;

        }
        
        h2{
            font-size:2.8rem;
            text-align: center;
            grid-area:title;
        }
        
        div{
            display: inline-block;
            grid-area:likes;
        }
    }
}