.theBlog{
    width:70%;
    line-height: 1.7em;
    margin:auto;
    text-align: center;
    .blogTitle{
        h1{
            font-size: 4rem;
        }
    }
}

.blogList{
    width:80%;
    margin:auto;
    h1{
        font-size:2.7rem;
    }
}

hr{
    opacity:0.2;
    width:90%;
    color: nth($colors, 2);
    height:10%;
    margin:3rem auto;
}


.blogs{
    display:flex;
    flex-direction: column;
    overflow:auto;
    
    a{
        color:nth($colors, 5);
        transition: color 0.3s;

        &:hover{
            color:nth($colors, 4)
        }
    }

    .blogLink{

        flex:1;
        margin-bottom:3rem;
        background:white;
        height:13.4rem;
        border-radius: 10px;
        box-shadow: 2px 3px 12px  rgba(0,0,0,00.1);

        

        img{

            margin:2rem;
            max-width: 150px;

            float:left;
        }
        
        h2{
            float:left;
            font-size:2.8rem;
        }

        div{
            float:left;
            margin-top: 180px;        
        }


        
    }
}
