.theBlog{
    width:70%;
    line-height: 1.7em;
    margin:auto;
    text-align: center;
    .blogTitle{
        h1{
            font-size: 4rem;
        }
    }
}

.blogList{
    width:80%;
    margin:auto;
    h1{
        font-size:2.7rem;
    }
}

hr{
    opacity:0.2;
    width:90%;
    color: nth($colors, 2);
    height:10%;
    margin:3rem auto;
}


.blogs{
    display:flex;
    flex-direction: column;
    overflow:auto;
    
    .blogLink{

        flex:1;
        margin-bottom:3rem;
        background:white;
        height:13.4rem;
    

        img{

            margin:2rem;
            max-width: 150px;

            float:left;
        }
        
        h2{
            float:left;
        }

        div{
            float:left;
            margin-top: 180px;        
        }


        
    }
}
