.Header{
    height:4rem;
	background: nth($colors, 3);
    width: 100%;
    color:white;
    position:fixed;
    top:0;

    a{
        color:darken(white, 0%);
        text-decoration: none;


    }
    
    @include mobile{
        height:17rem;
        position:relative;
        
    }
}

.logo{
    float: left;
    @include mobile{
        float:none;
    }
}


.nav {
    list-style:none;
    display:flex;

    @include mobile{
        display:block;
        float:none;
        width:100%;
        text-align: center;
        margin-right:200px;
        text-indent: 0;
        margin:0;
        padding:0 !important;
        list-style-position: outside;
    }

    li{
        transition:background-color 0.3s;
        padding:1em 1em 0.8em 1em;
        display:table-cell;
        vertical-align: center;
        
        @include mobile{
            display:block;

        }
        &:hover{
            background-color: darken(nth($colors, 3), 5%)

        }
    }        
}
