.Header{
    height:4rem;
	background: nth($colors, 3);
    width: 100%;
    color:white;

    a{
        color:darken(white, 0%);
        text-decoration: none;
    }
    
}

.logo{

    float: left;
}


.nav {

    float: left;
    list-style:none;
    display:flex;
    float:right;

    li{
        &:hover{
            background-color: darken(nth($colors, 3), 5%)
        }
        transition:background-color 0.3s;
        padding:1em 1em 0.8em 1em;
        display:table-cell;
        vertical-align: center;
    }        

}
