@import './values'; 
@import './header';
@import './blog';
@import './reusable';
@import './comment';

body{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    background: darken(white, 6%);

    padding: 0;
    margin: 0;
    margin-top:-1.4em;
    font-size: 1.1rem;
    overflow-x: hidden;
    
  }

main{

  margin-top: 7rem;
}