.Header {
  background: #029AE5;
  width: 100%;
  color: white;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Header a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
  .Header {
    height: 17rem;
    position: relative;
  }
}

.logo {
  margin-left: 29px;
  margin-top: 17px;
  height: 1.7rem;
}

.nav {
  margin: 0 !important;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 2vw;
}

@media (max-width: 600px) {
  .nav {
    display: block;
    width: 100%;
    text-align: center;
    margin-right: 200px;
    text-indent: 0;
    margin: 0;
    padding: 0 !important;
    list-style-position: outside;
  }
}

.nav li {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  padding: 1.7em 0.8em;
  vertical-align: center;
}

@media (max-width: 600px) {
  .nav li {
    display: block;
  }
}

.nav li:hover {
  background-color: #0289cc;
}

.theBlog {
  width: 70%;
  line-height: 1.7em;
  margin: auto;
  text-align: center;
  max-width: 1300px;
}

.theBlog .blogTitle h1 {
  font-size: 4rem;
  line-height: 4rem;
}

.blogList {
  width: 80%;
  max-width: 1300px;
  margin: auto;
}

.blogList h1 {
  font-size: 2.7rem;
}

hr {
  opacity: 0.2;
  width: 90%;
  color: #4EB8ED;
  height: 10%;
  margin: 3rem auto;
}

.blogs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.blogs a {
  color: #013E5C;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  text-decoration: none;
}

.blogs a:hover h2 {
  color: #016CA0;
  text-decoration: underline;
}

.blogs .blogLink {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 3rem;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.1);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "img img title title title title title title title title title likes";
      grid-template-areas: "img img img img" "title title title" ". likes . .";
}

.blogs .blogLink img {
  display: inline-block;
  margin: 2rem;
  max-width: 150px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: img;
}

.blogs .blogLink h2 {
  font-size: 2.8rem;
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: title;
  margin-top: 20px;
}

.blogs .blogLink div {
  display: inline-block;
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: likes;
  margin-top: 27px;
}

.actionButton, .actionButton-small {
  background: #4EB8ED;
  border: none;
  width: 6rem;
  height: 2.5rem;
  border-radius: 3px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}

.actionButton:hover, .actionButton-small:hover {
  background: #32adea;
}

.actionButton:active, .actionButton-small:active {
  background: #20a5e8;
}

.actionButton-small {
  width: 3rem;
  height: 1.5rem;
}

.commentStyling, .comment, .commentForm {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: auto;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12);
  margin-bottom: 40px;
  border-radius: 5px;
  max-width: 800px;
}

.comment h2 {
  margin-left: 5%;
}

.comment p {
  margin-left: 5%;
}

.commentForm h1 {
  margin: 20px auto 20px auto;
}

.commentForm .nameField {
  margin: auto;
  margin-bottom: 50px;
}

.commentForm .commentField {
  margin: auto;
  resize: none;
}

.commentForm button {
  margin: 30px auto 20px auto;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  background: #f0f0f0;
  padding: 0;
  margin: 0;
  margin-top: -1.4em;
  font-size: 1.1rem;
  overflow-x: hidden;
}

main {
  margin-top: 8rem;
}
/*# sourceMappingURL=index.css.map */